body{
    background-color: #CCC;
}

#statusMonitor{
    color: #FFFFFF;
    margin-top: 15px;
    margin-right: 20px;
    float: right;
    color: #00FF33;
}

#signinopener{
    float: right;
    margin-top: 9px;
    margin-right: 10px;
}

#logoutButton{
    float: right;
    margin-top: 9px;
    margin-right: 10px;
}

#namefield{
    margin-left: 20px;
}

#passfield{
    margin-left: 20px;
}

#formContainer{
    width: 50%;
}

.nameColumn{
    width: 40%;
    float: left;
}

.fieldColumn{
    width: 60%;
    float: right;
}

#back{
    float:right;
}

#loginNavigator{
    width: 100%;
    text-align: right;
    margin-top: 10px;
}

#mainContent{
    margin-top: 60px;
}

#loginFormContainer{
    margin-bottom: -50px;
}

#hideButtonImage:hover{
    border: 1px solid black;
}

#moviesAddContainer{
    /*margin-top: 20px;*/
    background: #F0F0F0;
    padding: 8px;
    padding-bottom: 12px;
    border-radius: 4px;
}

/* Styles for Phones */

@media (max-width: 450px) {
    
    #formContainer{
        width: 100%;
    }
    
    .nameColumn{
        width: 100%;
        float: none;
        margin-top: 10px;
    }
    
    .fieldColumn{
        float: none;
        margin-left: -20px;
        width: 100%;
    }

}
