<!DOCTYPE html>
<!--
    The Main Page of the Application, written by Mario Weidler, Nils Fischer 
    and Patrick Weingärtner
-->
<html>
    <head>
        <title>Filmeverwaltung</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" />

        <!-- Own Stylesheet -->
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        
        <!-- Import latest version of jQuery -->
        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
        
        <!-- Import latest version of Underscore -->
        <script type="text/javascript" src="js/underscore-min.js"></script>
        
        <!-- Last compiled and minimized CSS -->
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css"/>
        
        <!-- Optional Theme -->
        <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css" />
    
        <!-- Last compiled an minified javascript -->
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
        
        <!-- Import the Helper file -->
        <script type="text/javascript" src="js/helper.js"></script>
        <!-- Import the View file -->
        <script type="text/javascript" src="js/view.js"></script>
        <!-- Import the Model file -->
        <script type="text/javascript" src="js/model.js"></script>
        <!-- Import the Controller file -->
        <script type="text/javascript" src="js/controller.js"></script>
        <!-- Import the Dialog file-->
        <script src="js/showDialog.js"></script>
        
        <!-- Template for a List Item -->
        <script type="text/template" id="filmListTemplate">
            <tr id="<%= item.rowId %>">
                <td id="<%= item.titleId %>"><%= item.name %></td>
                <td id="<%= item.imageId %>"><%= item.imageHTML %></td>
                 <td class="toolbar">
                    <button type="button" onclick="rateMovie('<%= item.rowId %>');" class="btn btn-sm btn-default btn-lg">
                        <span class="glyphicon glyphicon-star"></span>
                    </button>
                    <button id="<%= item.renameButtonId %>" type="button" onclick="renameMovie('<%= item.titleId %>');" class="btn btn-sm btn-default btn-lg">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button id="<%= item.removeButtonId %>" type="button" onclick="removeMovie('<%= item.rowId %>');" class="btn btn-sm btn-default btn-lg">
                        <span class="glyphicon glyphicon-trash"></span>  
                    </button>
                </td>
                <td>
                    <button id="<%= item.detailButtonId %>" type="button" onclick="detailMovie('<%= item.name %>');" class="btn btn-sm btn-default btn-lg">
                        <span class="glyphicon glyphicon-align-justify"></span> &nbsp;Info
                    </button>
                </td>
            </tr>
        </script>
        
        <!-- Function that is called when the Page was load -->
        <script type="text/javascript">
            $(document).ready(function(){
               // $("#myModal").modal('hide');
                $("#loginFormContainer").hide();
                $("#logoutButton").hide();
                $("#moviesAddContainer").hide();
                $("#errorMessage").hide();
                getStoredItems();
                $(".toolbar").hide();
                
            });
        </script>
    </head>
    <body>  
        
        <!-- Head-Bar with Title and Signin-Button -->
        <div class="navbar navbar-inverse navbar-fixed-top">
             <a class="navbar-brand" href="#">Filmeverwaltung</a>
             <button onclick="logoutUser();" id="logoutButton" class="btn btn-danger">Logout</button>
             <button onclick="showUserLoginForm();" id="signinopener" class="btn">Anmelden</button>
        </div>
        
        <!-- Area in which the LoginForm appears, hidden on Load -->
        <div id="loginFormContainer" class="jumbotron">
            <div id="loginNavigator">
              <img id="hideButtonImage" onclick="hideUserLoginForm();" alt="Ausblenden" src="img/exit_button.png"/>  
            </div>
          <div class="container">
            <h2>Bitte loggen sie sich ein</h2>
            <p>Um Filme bearbeiten zu könnnen, müssen sie sich einloggen<p>
            <!-- Grid that contains the loginForm -->
            <div id="formContainer">
                <div class="nameColumn">Benutzername</div>
                <div class="fieldColumn"><input class="input-sm" type="text" id="namefield" onkeydown="return runScript2(event)" placeholder="z.B. Mario Weidler"/></div>
                <div class="nameColumn">Benutzerpasswort</div>
                <div class="fieldColumn"><input class="input-sm" type="password" id="passfield" placeholder="z.B. Passwort" onkeydown="return runScript2(event)"/></div>
                <div style="clear: both"></div>
            </div>
            <a onclick="validateUserForm();" class="btn btn-primary">Einloggen</a>
          </div> 
        </div>
        
        <!-- Container with the MainContent -->
        <div id="mainContent" class="container">
            <h3>Filmübersicht</h3>
            <!-- Div in which the User can enter a new movie title -->
            <div id="moviesAddContainer">
                <h4>Neuen Film eintragen...</h4>
                <div class="form-inline">
                    <div id="errorField" class="form-group">
                        <input type="text" class="form-control" id="inputTitle" placeHolder="Filmtitel" onkeypress="return runScript(event)"/>
                    </div>
                    <div class="form-group">
                        <button id="addMovie" onclick="requestNewItem();" class="btn btn-default">Film hinzufügen</button>
                    </div>
                </div>
                <div id="errorMessage">
                    <i>Feld darf nicht leer sein</i>
                </div>
            </div>
           <!-- Table where the Movies are displayed -->
           <table id="movieTable" class="table table-striped">
               <!-- Table Headline -->
               <thead>
                   <tr>
                       <th id="sortButton">Filmtitel</th>
                       <th>Bewertung</th>
                       <th class="toolbar">Werkzeuge</th>
                       <th>Aktionen</th>
                   </tr>
               </thead>
               <!-- Table Body -->
               <tbody id="tablebody">

               </tbody>
           </table>
        </div>
        <!-- Popup-->
        <div id="myModal" class="modal fade" >
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- dialog body -->
                <div class="modal-body">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  Hello world!
                </div>
                <!-- dialog buttons -->
                <div class="modal-footer"><button type="button" onclick="removePopup();" class="btn btn-primary" >OK</button></div>
              </div>
            </div>
        </div>
    </body>
</html>
